@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esconder barra de rolagem (mantém scroll funcionando) */
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge legado */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
